<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Perfil do Usuário</title>
  <link rel="stylesheet" href="/css/perfilUsuario.css">
</head>
<body>
  <div class="profile-container">

    <!-- Foto e nome -->
    <div class="user-info">
      <img src="<%= usuario.avatar %>" alt="Foto de perfil" class="profile-pic">
      <h1 class="usuario-first_name"><%= usuario.first_name %></h1>
    </div>

    <!-- Pastas -->
      <div class="pastas-container">
        <% if (pastas.length > 0) { %>
        <% pastas.forEach(function(pasta) { %>
        <div class="pasta-card">
        <h2><%= pasta.name %></h2>
        <p><%= pasta.description %></p>
        <a href="/folders/<%= pasta.id %>" class="ver-receitas">Ver receitas</a>
        </div>
    <% }) %>
    <% } else { %>
        <p>Você ainda não criou nenhuma pasta.</p>
    <% } %>
</div>
    </div>
  </div>
</body>
</html>
