<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Perfil</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Milonga&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/perfilUsuario.css">
</head>
<body>
  <header class="topo">
     <div class="barra-superior">
      <div class="logo">Recipedia</div>
      <input type="text" placeholder="Buscar receitas...">
      </div>
      <div class="icones">
        <i class="icone-mensagem"></i>
        <i class="icone-usuario"></i>
      </div>
    </div>
  </header>
  <main>
    <section class="perfil-usuario">
      <div class="foto-perfil">
      <img src="<%= usuario.avatar %>" alt="Foto de perfil" class="profile-pic">
      </div>
      <h2 class="nome-usuario"><%= usuario.first_name %></h2>
    </section>

    <section class="titulo-pastas">
      <h3>Suas Pastas</h3>
    </section>

    <section class="grid-pastas">
      <% pastas.forEach(pasta => { %>
        <a href="/folders/pastas/<%= pasta.id %>" class="card-pasta">
  <div class="preview-receitas">
    <% if (pasta.receitasPreview && pasta.receitasPreview.length > 0) { %>
      <% pasta.receitasPreview.slice(0, 3).forEach(receita => { %>
        <img src="<%= receita.image %>" alt="Imagem da receita">
      <% }) %>
    <% } else { %>
      <p>Sem receitas</p>
    <% } %>
  </div>
  <h3><%=pasta.name %></h3>
</a>
      <% }) %>
    </section>
  </main>
</body>
</html>

